.practice {
  margin-bottom: 1vh;
}
.practice:hover {
  box-shadow: 0 0 6px #49ce84;
}
button:active, button:focus { outline: none; }
.mg_5vh {
  margin-top: 3vh;
}
.day {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_week {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.practice_table {
  margin-left: 10%;
  margin-right: 10%;
}
.exercises {
  height: 80vh;
  box-shadow: 0 0 6px #000000;
  .header {
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .date {
    text-align: center;
    padding: 10px 0;
  }
  .element {
    margin-top: 10px;
  }
}
.text {
  font-size: 24px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 65vh;
  margin-bottom: 20px;
}
.plus {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.header_color {
  background: #49ce84;
}
.exercises_header {
  background: #49ce84;
  text-align: center;
  padding: 20px 0;
}
.info {
  justify-content: center;
  .left_side {
    flex-grow: 1;
    margin-right: 30px;
  }
  .right_side {
    flex-grow: 2;
  }
}
