<nav class="navbar navbar-expand-lg navbar-light header wrap">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="" routerLink="">Фитнес приложение</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/trains">Тренировки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Питание</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Замеры</a>
      </li>
    </ul>
    <button (click)="openLoginDialog()" type="button" class="btn btn-dark">Войти</button>
    <button (click)="openDialog()" type="button" class="btn btn-dark">Зарегестрироваться</button>

  </div>
</nav>
